@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.PopoverMenuItem {
  height: 30px !important;

  & > a {
    font-size: 14px !important;
    font-weight: 400;
    color: @grey-rock;
    height: 30px !important;
    line-height: 30px !important;
    white-space: nowrap;

    &:hover {
      color: @primary-color !important;
    }

    &[disabled] {
      color: @blue-light !important;
    }

    & > span {
      white-space: nowrap;
    }
  }

  &--bold {
    & > a {
      font-weight: 500 !important;
    }
  }
}

.PopoverMenuItem.PopOverMenuItem__full-screen-hidden {
  display: list-item;

  @media @small {
    display: none;
  }
}
