@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.LoginModal {
  &__icon {
    font-size: 7rem !important;
    padding: 2rem 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media @small {
      padding: 0 100px;
    }
  }

  &__footer {
    display: flex;
    font-weight: bold;
    justify-content: center;
    padding: 10px 0;
  }

  &__login-error {
    font-size: 15px;
    color: @red;
  }

  &__login-title {
    font-size: 24px;
    font-weight: 500;
  }

  &__login-description {
    text-align: center;
    padding-top: 6px;
    color: @blue-baliHai;
    font-weight: 400;
  }

  &__login-button {
    color: @white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 30px;
    background-color: @primary-color;
    margin-top: 15px;
    margin-bottom: 10px;

    &:hover {
      color: @white;
      text-decoration: none;
      background-color: darken(@primary-color, 10%);
    }
  }
}
