@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.UserMenu {
  height: 48px;
  position: relative;
  background-color: @white;
  
  @media @small {
    background-color: transparent;
  }

  & > div {
    z-index: 1;
  }

  &__menu {
    display: inline-block; 
    height: 32px;
    min-width: 100%;
    line-height: 32px;
    white-space: nowrap;
    border-bottom: 1px @border-style-base @grey-wire;
    
    /* @media @small {
      min-width: 528px;
    }
    @media @medium {
      min-width: 798px;
    }
    @media @large {
      min-width: 810px;
    } */
  }

  &__item {
    display: inline-block;
    height: 32px;
    margin-right: 16px;
    cursor: pointer;
    color: #99aab5;
    font-weight: 500;
    font-size: 15px;

    &--active,
    &:hover {
      color: @grey-rock;

      border-bottom: 2px @border-style-base @grey-cloud;
    }
  }

  &__badge {
    color: #c2ccd3;
    margin-left: 6px;
  }
}

.FeedMenu {
  &__Remove__Filter {
    float: right;
    margin-right: 1px;

    @media @very-small-max-width {
      margin-right: @margin;
    }
  }
}

div[data-dir='rtl'] .UserMenu {
  &__badge {
    margin-left: 0px;
    margin-right: 6px;
  }

  &__item {
    margin-right: 0;
    margin-left: 16px;
  }
}

.UserWalletMenu {
  margin-top: 10px;
}
