@import './variables.less';
@import './topnav-layout.less';
@import './post-layout.less';
@import './feed-layout.less';
@import './menu-layout.less';
@import './settings-layout.less';
@import './layout-twocol.less';
@import './layout-threecol.less';
@import './drafts-layout.less';

.container {
  position: relative;
  margin: 0 auto;
  max-width: @container-width;
}
