@import (reference) './variables.less';

.layout-twocol {
  position: relative;
  padding: @mobile-padding;
  
  @media @small {
    padding: 0 @mobile-padding;
  }
  @media @medium {
    padding: 0;
  }
  h1, h2, h3 {
    margin-bottom: 0.75rem;
  }

  &:after {
    content: '';
    display: table;
    clear: both;
  }

  .left {
    width: @left-width;
  }

  .leftContainer {
    float: left;
    display: none;
    width: @left-width;

    @media @medium {
      display: block;
    }
  }

  .center {
    float: left;
    width: 100%;

    @media @small {
      width: calc(100% - (2 * @margin));
    }

    @media @medium {
      width: calc(100% - (@left-width + (2 * @margin)));
      margin-left: @margin;
    }

    .main-feed {
      width: 100%;
      overflow: hidden;
    }
  }
}

