@container-width: 1010px;
@mobile-padding: 20px;
@margin: 20px;
@left-width: 180px;
@right-width: 270px;

// Responsive design
@mini: ~'only screen and (min-width: 420px)';
@small: ~'only screen and (min-width: 768px)';
@medium: ~'only screen and (min-width: 998px)';
@large: ~'only screen and (min-width: 1200px)';
@very-small-max-width: ~'screen and (max-width: 400px)';
@small-max-width: ~'screen and (max-width: 768px)';