@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

/* Styles for Ad Spots on Status Page */

.Promo { 

  /* Common ad spot styles */

  .promo-header {
    margin: 0 0 0.5rem 0;
    padding: 0 0 0.25rem 0;
    font-size: 0.875rem;
    width: 100%;
    border-bottom: @base-border;

    .promo-title {
      display: inline-block;
      margin-left: 0.75rem;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.65);;
    }
  }
  h3 {
    line-height: 1.25;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    color: @grey-rock;

    .promo-sponsor {
      font-size: 0.875rem;
    }
  }
  p {
    display: inline-block;
    max-height: 1.75rem;
    line-height: 1.25;
    font-size: 0.75rem;
    overflow-y: hidden;
    margin: 0;
  }
  a.more {
    font-size: 0.75rem;
  }

  /* Top spot specific styles */

  &.PromoTop { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
    
    @media @small {
      flex-direction: row;
      margin-bottom: 1rem;
    }
    @media @medium {
      padding-bottom: 1.5rem;
    }

    .promo-verbal {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;

      @media @small {
        width: 55%;
        margin-top: -0.5rem;
      }
    }
    .promo-visual {

      @media @small {
        width: 40%;
        margin-left: 5%;
      }
      img {
        width: 100%;
        height: 100%;
        max-height: 125px;
        object-fit: fill;
        margin-top: 30px;
      }
    }
}

  /* Aside spot specific styles*/

  &.PromoAside { 
    background-color: @white;
    margin-top: 1rem;
    
    @media @small {
      box-shadow: @base-shadow;
    }
    .promo-header {

      @media @small {
        padding: 1.5rem 1.5rem 1rem;
      }
    }
    .promo-content {

      @media @small {
        padding: 0 1.5rem 1.5rem;
      }
      p {
        max-height: 3rem;
        text-overflow: ellipsis;
      }
    }
  }

  /* Other styles */

  .svg-inline--fa.fa-w-16 { 
    width: 1.25rem;
    height: auto;
  }
}

/* See also: 

UserWalletSummary.less, 
DailyVestingRewards.less,
WalletSidebar.less 

*/
