@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.User {
  font-weight: 400;
  line-height: 1.4;

  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 8px;
    white-space: nowrap;
    border-bottom: 1px solid @grey-wire;
    font-size: 0.875rem;
    font-weight: 400;

    @media @small {
      flex-wrap: nowrap;
    }
    .pod-head {
      display: none;

      @media @small {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-overflow: ellipsis;
        overflow: hidden;
        justify-content: space-between;
        width: 50%;
        font-size: 0.875rem;
      }
      .pod-item {
        margin-right: 8px;

        @media @small {
          flex: 1 1 25%;
        }
      }
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 8px;
    white-space: nowrap;
    border-bottom: 1px solid @grey-wire;

    @media @small {
      flex-wrap: nowrap;
    }
  }
  &__links {
    display: flex;
    white-space: nowrap;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 8px;
    text-align: left;
    width: 58%;

    @media @small {
      width: 30%;
    }
    & > a {
      font-weight: bold;
      vertical-align: middle;
    }
  }
  &__follow {
    width: 38%;
    vertical-align: middle;

    @media @small {
      width: 20%;
    }
  }
  &__name {
    margin-left: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__about {
    font-size: 15px;
    color: #9d9d9d;
  }
}

.leftContainer__user {
  overflow-wrap: break-word;
}

div[data-dir='rtl'] .User__follow {
  margin-left: 0;
  margin-right: auto;
}

div[data-dir='rtl'] .User__name {
  margin-left: 0;
  margin-right: 8px;
}
