@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

/* Styles for Right Sidebar on Status Page */

.WalletSidebar {
  width: 100%;
  margin: 0 auto @margin auto;
  
  @media @small {
    width: 250px;
    padding: 0;
    flex: 0 0 auto;
    margin-left: 16px;
  }
  
  &:empty {
    display: none;
  }
  .iconfont {
    color: @grey-cloud;
    font-size: 16px;
    margin-right: 6px;
  }
  .ant-card {
    margin-bottom: 1.5rem;

    @media @small {
      box-shadow: @base-shadow;
      margin-bottom: 0;
    }
    &.ant-card-bordered {
      border: 0;
    }
    .ant-card-head {
      padding: 0;

      @media @small {
        padding: 0 1.5rem;
      }
    }
    .ant-card-body {
      padding: 0;

      @media @small {
        padding: 0.5rem 1.5rem 1.5rem;
      }
    }

  }
  .ant-card-head-title {
    color: black;
    font-weight: 400;
    font-size: 1.125rem;
  }
  .ant-collapse-item {
    margin-bottom: 1rem !important;
  }
  .ant-form-item {
    margin-bottom: 0.75rem;

    &:last-of-type {
      margin-bottom: 0;
    }
    button {
      padding: 0.375rem 0.125rem;
      height: auto;
      border-radius: 2px;

      &.ant-btn-primary {
        margin-bottom: 0.5rem;
      }
      &.ant-btn-secondary {
        color: @blue-whale;
        border: 1px solid @blue-whale;
      }
    }
  }
}