@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Sidenav {
  min-width: 150px;
  & > li {
    line-height: 32px;

    & > a {
      color: @grey-rock;
      font-weight: 300;
      display: inline-block;
      min-height: 32px;

      &:hover {
        color: @primary-color;
      }

      &:focus {
        text-decoration: none;
      }

      & > i {
        margin-right: 5px;
        vertical-align: -4px;
      }
      
      .svg-inline--fa {
        display: inline-block;
        margin-right: 5px;
        width: 22px;
        height: auto;
        position: relative;
        
        &.fa-bookmark {
          height: 22px;
        }

        #icon-tip {
          width: 24px;
          height: 24px;
        }
      }
      
      .donate .button {
        font-size: 0.75rem;
      }
    }
  }
  & > li.bottom-section {
    margin-top: 1.5rem;

    & > a {
      display: inline-block;
      color: @primary-color;

      &:hover {
        color: @grey-rock;
      }
    }
  }
  &__active {
    background-color: @white;
    box-shadow: @base-shadow;
    padding: 0 4px 0 6px;
    margin-bottom: 5px;

    &:first-of-type {
      padding-top: 6px;
    }
  }
  .notification {
    background-color: @pink;
    color: white;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    display: inline-block;
    margin-left: 5px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    line-height: 16px;
    position: relative;
    top: -3px;
  }  
  .Avatar {
    display: inline-block !important;
    margin-right: 5px;
  }
  &__username {
    display: inline-block;
    text-transform: capitalize;
    position: relative;
    top: -5px;
  }
  h4 {
    color: @grey-rock;
    font-weight: 700;
    margin-top: 16px;
    line-height: 32px;
  }
  .iconfont-new {
    font-size: 21px;
    display: inline-block;
    width: 26px;
  }
}

div[data-dir='rtl'] .Sidenav {
  & > li {
    & > a {
      & > i {
        margin-left: 5px;
        margin-right: 0px;
      }
    }
  }
  .Avatar {
    margin-left: 5px;
    margin-right: 0px;
  }
}

.Sidenav__item--active {
  color: @blue-whale !important;
  & > i {
    color: @blue-whale;
  }
}
