@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

@base-spacing: 0;

.Topnav {
  background-color: @primary-color;
  box-shadow: 0 0 4px @white-shadow;
  height: 61px;
  line-height: 61px;

  #SearchArea {
    height: 0;

    #___gcse_0 {
      position: relative;
      top: 5000px;
    }
  }
  .ant-select-selection {
    margin-top: 8px;
    height: 42px;
  }
  .searchButton {
    float: right;
    // width: 9%;
    height: 60px !important;
    padding: 0 10px !important;
    display: flex;
    color: black;
    justify-content: center;
    border-bottom: 0 !important;
    align-items: center;
    // border: 1.5px solid white !important;
    border-radius: 12%;
    margin-left: 0.2rem;
  }
  .searchButton:hover {
    color: white !important;
  }
  .ant-icon {
    padding-left: 25% !important;
  }


  &__brand {
    position: relative;
    top: -3px;

    img {
      &.logo {
        display: none;

        @media @mini {
          display: inline;
        }
      }
      &.mark {
        @media @mini {
          display: none;
        }
      }
    }

    &:hover,
    &:visited,
    &:link,
    &:active {
      text-decoration: none;
    }
  }

  &__container {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }

  .ant-menu {
    background-color: transparent;
  }

  &__input-container {
    padding: 0 @base-spacing;
    position: relative;
    height: 60px;
    display: flex;
    margin-left: 15px;

    > .ant-select-show-search {
      width: 100%;
    }
    .ant-select-selection {
      background-color: #1a59b0;
      border: 1px solid @blue-whale !important;
      color: lightblue;
      padding-top: 3px;
    }

    input {
      // height: 38px !important;
      // margin-top: 11px;
      // border-radius: 0;
      // border-color: transparent;
      // border-width: 0;
      // padding: 0 0 0 43px !important;
      font-size: 20px !important;
      padding-top: 5px;

      &::placeholder {
        color: @blue-light;
        font-weight: 300;
      }
      &:hover,
      &:focus {
        box-shadow: none !important;
        border-color: @border-color-base !important;
      }
    }
    .ant-select-auto-complete.ant-select .ant-input {
      background-color: @blue-deep;
      border-radius: 0;
    }
    @media @small {
      margin-left: auto;
    }
  }

  &__menu-container {
    display: flex;
    justify-content: flex-end;

    //.ant-menu-submenu.ant-menu-overflowed-submenu {
    //  display: none;
    //
    //  & > div {
    //    display: none;
    //  }
    //}
    //
    //&.logged-out &__menu {
    //  font-size: 15px;
    //
    //  @media @small {
    //    font-size: 16px;
    //  }
    //}
    //&.logged-in &__menu {
    //  width: 156px;
    //
    //  @media @small {
    //    width: auto;
    //  }
    //}
    &__menu {
      flex: 1 0 auto;
      height: 60px !important;
      border: 0 !important;
      line-height: 60px !important;
      margin-left: @base-spacing;
      display: flex;
      justify-content: flex-end;

      .Avatar {
        border: 0;
      }

      & > li.ant-menu-item {
        height: 60px !important;
        padding: 0 3px !important;
        display: flex;
        justify-content: center;
        border-bottom: 0 !important;
        align-items: center;

        & > a {
          color: @blue-light !important;

          &.Topnav__link--action {
            margin-top: 7px;

            .anticon-edit {
              font-size: 20px;
            }
          }

          &:hover {
            color: white !important;
          }
        }
      }
      &.menu-links > li.ant-menu-item.wallet {
        display: none;

        @media @mini {
          display: inline !important;
        }
      }
      &.menu-links > li.ant-menu-item.user-menu {
        display: inline !important;
      }
      &.menu-links > li.ant-menu-item a > span {
        display: inline-block;
        border-right: 1px solid @blue-light;
        padding-right: 5px;
        height: 16px;
        line-height: 16px;
      }
      &.menu-links > li.ant-menu-item.login a > span {
        border-right: none;

        @media @mini {
          border-right: 1px solid @blue-light;
        }
      }
      &.menu-links > li.ant-menu-item.last a > span {
        border-right: none;
        padding-right: 0;
      }
    }
  }

  &__user {
    display: flex !important;
    align-items: center;
    height: 59px;

    .Avatar {
      margin-bottom: 2px;
    }

    &__username {
      display: none;
      margin-left: 8px;
      color: @primary-color;

      @media screen and (min-width: 992px) {
        display: inline;
      }
    }
  }

  &__item-user {
    margin: 0 !important;
  }

  &__link {
    &--light {
      i {
        font-weight: normal !important;
      }
    }
  }

  &__mobile-search {
    background: transparent;
    border: 0;
    color: @primary-color;
    display: block;
    height: 60px;
    outline: none;

    .icon-search {
      color: @blue-light;
    }

    &-close {
      margin-right: -16px;
      color: @white;
    }

    &:hover {
      cursor: pointer;
    }

    @media @small {
      display: none;
    }
  }

  &__mobile-hidden {
    display: none;

    @media @small {
      display: initial;
    }
  }

  &__notifications-count {
    height: 35px;
    min-width: 35px;
    border-radius: 50%;
    background-color: @primary-color;
    color: @white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-bottom: 6px;
  }
  .svg-inline--fa.fa-w-16 {
    display: inline-block;
    width: auto;
    height: 22px;
    padding: 0 0.25rem;

    &[data-icon='wallet'] {
      position: relative;
      top: 3px;
    }
  }
}

.Topnav__search-dropdown-container.ant-select-dropdown {
  top: 45px !important;
  position: fixed;
  border-radius: 0;
  box-shadow: none;
  padding-top: 5px;
}

.Topnav__search-autocomplete.ant-select-dropdown-menu-item-active {
  &:hover {
    background-color: @white-darker;
  }
}

.Topnav__search-autocomplete.ant-select-dropdown-menu-item {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  font-weight: bold;
  border-bottom: @base-border;
  padding: 10px 14px;
}

.Topnav__search-all-results {
  font-weight: bold !important;
  text-align: center;
  background-color: @white-darker;
  padding: 10px 14px;
  cursor: default !important;
}

.Topnav__search-dropdown-container .ant-select-dropdown-menu {
  max-height: 300px;
}

.Topnav__search-bar {
  color: @white !important;
  background-color: @blue-deep !important;
}

.ant-popover-title {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: @blue-baliHai !important;
}

.Topnav__notifications-tooltip {
  top: 61px !important;
}

.notification {
  background-color: @pink;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 8px;
  display: inline-block;
  margin-left: 9px;
  font-size: 9px;
  font-weight: 500;
  text-align: center;
  line-height: 18px;
  position: relative;
  top: -12px;
  margin-left: -12px;
}  
