@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Slider {
  margin: 0 auto;
  margin-bottom: 12px;
  padding: 0;
  max-width: 560px;

  @media @small {
    padding: 0 16px;
  }

  &__info {
    float: left;
    color: @black;

    @media @small {
      font-size: 16px;
    }

    &__amount {
      font-family: @font-family-monospace;
      font-weight: bold;
    }
    &__maxAmount {
      font-family: @font-family-monospace;
      font-size:0.7em;
      color: @grey-rock;
    }
  }
    &__inputNumber {
      margin-right: 12px;
      margin-bottom: 14px;
      width: 20%;
      float: left;
    }
    .SliderInfoContainer {    
      height: 2em;
      line-height: 2em;
    }
}

// Remove this once antd slider will be supporting RTL officialy
div[data-dir='rtl'] .Slider {
  direction: ltr;
}
