@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.TopicsList {
  background-color: @white;
  color: @grey-rock;
  box-shadow: @base-shadow;
  @media @small {
    border-radius: 1px;
    border: @base-border;
    padding: 1rem;
    margin-top: 1rem;
  }
  h4 {
    margin-top: 0.5rem;
  }
}