@import (reference) '../styles/custom.less';

.ClaimRewardsBlock {
  &__reward {
    border-bottom: @base-border;
    color: @grey-nightRider;
    display: flex;
    font-size: 16px;
    font-weight: 700;
    padding: 0;

    &__value {
      margin-left: auto;
    }

    &:last-of-type {
      margin-bottom: 10px;
      border-bottom: 0;
    }
  }
  .iconfont {
    color: @grey-cloud;
    font-size: 16px;
    margin-right: 6px;
    
    &.icon-rewards {
      font-size: 32px;
    }
  }
}
