@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

/* Styles for Main Content on Status Page */

.WalletEssentials {
  display: flex;
  flex-direction: column;

  @media @small {
    flex-direction: row-reverse;
  }
}

.UserWalletSummary {
  @media @small {
    border: none;
    border-radius: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-bottom: @base-border;
    padding: 1rem 0;

    @media @small {
      padding: 1rem 0;
    }

    &:first-of-type {
      padding-top: 0;
    }
    &:last-of-type {
      border-bottom: 0;
      padding-bottom: 0;
    }

    &_top {
      display: flex;
      align-items: center;
      flex-direction: row;
    }

    &_desc {
      font-size: 12px;
      padding-top: 10px;
    }
  }

  &__icon {
    color: @blue-baliHai;
    margin-right: 10px;
  }
  .svg-inline--fa.fa-coins {
    color: @primary-color;
    width: 1.75rem;
    height: auto;
    display: inline-block;
    margin-right: 1rem;
  }
  &__label {
    align-items: center;
    color: @black;
    display: flex;
    font-size: 18px;
  }

  &__value {
    align-items: right;
    color: @primary-color;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    margin-left: auto;
    text-align: right;
    flex-direction: column;

    .secondary-text {
      display: block;
    }
  }
  .secondary-text {
    font-size: 0.9375rem;
    margin-left: 0.125rem;
    color: @grey-600;
    font-weight: 400;
  }

  &__reward {
    &:after {
      color: @blue-botticelli;
      content: ' - ';
    }

    &:last-of-type {
      &:after {
        content: '';
      }
    }
  }
}

div[data-dir='rtl'] .UserWalletSummary {
  &__icon {
    margin-right: 0;
    margin-left: 10px;
  }

  &__value {
    direction: ltr;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
  }
}
