@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.modal_button {
  background-color: @primary-color !important;
  border-radius: 2px !important;
  &_cancel {
    border-radius: 2px !important;
  }
}
