@import (reference) './custom.less';

body {
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: @white;
  
  @media @small {
    background-color: @white-foam;
  }
}

#app {
  width: 100%;
  height: 100%;
}

a:focus {
  text-decoration: none;
}

.white-bg {
  background: @white;
}

.content {
  margin-top: 61px;
  width: 100vw;
}

.shifted {
  
  @media @small {
    margin-top: 21px;
  }
}

.text-icon {
  font-size: 18px !important;
  margin-right: 4px;
  vertical-align: -1px;
}

.text-icon-right {
  margin-left: 4px;
  vertical-align: -1px;
}

.ant-layout {
  overflow: visible;
}

.ant-layout-header {
  z-index: @ant-layout-header-z-index !important;
}

.ant-popover {
  z-index: @ant-popover-z-index !important;
}

.ant-tooltip {
  z-index: @ant-tooltip-z-index !important;
}

.Notifications__popover-overlay {
  top: 46px !important;
  z-index: @ant-popover-notifications-z-index !important;
  position: fixed;
}

.ant-modal-mask,
.ant-modal-wrap {
  z-index: @ant-modal-z-index;
}

// for when modals are active
body.white-bg .ant-popover {
  z-index: @ant-modal-popover-z-index !important;
}

body.white-bg .ant-tooltip {
  z-index: @ant-modal-tooltip-z-index !important;
}

.ant-tooltip {
  z-index: 1060;
  font-size: 0.9em;

  &-content {
    font-weight: 400;

    a {
      color: @white;
    }
  }
}

.ant-popover-title {
  color: #9d9d9d;
  line-height: 36px;
  height: 36px;
}

.ant-popover-inner-content {
  max-height: 55vh;
  overflow-y: auto;
}

video {
  max-width: 100%;
}

.iconfont {
  font-size: 26px;
}

.capitalize-text {
  text-transform: capitalize;

  a {
    text-transform: none;
  }
}

.username {
  color: @grey-rock;
  font-weight: 500;
}

iframe {
  border: none;
}

.float-right {
  float: right;
}

div[data-dir='rtl'] {
  direction: rtl;
}

.ant-modal-mask {
  background-color: rgba(34, 94, 168, 0.9) !important;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: @react-modal-z-index !important;
}

.ol,
ul {
  list-style: none;
}

article,
aside,
blockquote,
body,
button,
code,
dd,
details,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

.ant-message {
  z-index: @ant-message-z-index !important;
}

.emoji-mart-scroll {
  height: 100px;
}
.gsc-modal-background-image {
  background-color: @blue-deep !important;
}
.gsc-control-cse {
  background-color: transparent !important;
  border-color: transparent !important;
}

.feed-message {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 1rem;
}

.ant-table-pagination.ant-pagination {
  margin: 1rem;
}

/* renewed layout */

.main-core {
  padding: 0;
}
.main-body {
  background-color: @white;
  
  @media @small {
    background-color: transparent;
    padding: 0;
  }
}
.main-content {
  background-color: @white;
  margin-bottom: 1rem;
  
  @media @small {
    box-shadow: @base-shadow;
    padding: 1rem;
  }
  @media @medium {
    padding: 2rem;
  }
}
.message {
  margin: 1rem 0;
  padding: 1rem;

  &.info {
    background-color: @white-foam;
  }
}

.ant-select-dropdown {
  z-index: 1260;
}

.coming-soon {
  text-align: center;
  min-height: 320px;
  color: @grey-cloud;
  padding-top: 80px;
  
  p {
    font-size: 4rem;
    font-weight: 300;
  }
  .ico {
    text-align: center;
  }
  .svg-inline--fa {
    width: 72px;
    height: 72px;
    display: inline-block;
    margin: 0 0 1rem 0;
  }
}

.right-sidebar-layout {
  display: flex;
  flex-direction: column;

  @media @small {
    flex-direction: row-reverse;
  }
}
