@import '~antd/dist/antd.less';

// basic colors
@white: #fff;
@black: #000;

// legacy colors
@white-shadow: rgba(0, 0, 0, 0.05);
@white-darker: #f9f9f9;
@white-gainsboro: #e9e7e7;
@white-ghostWhite: #fcfcff;
@white-smoke: #f2f2f2;
@black-text: rgba(0, 0, 0, 0.84);
@red: #d9534f;
@pink: #ff5b77;
@orange: #f6a623;
@yellow: #ffd500;
@green: #54d2a0;
@green-mediumSeaGreen: #42bb8b;
@green-bubbles: #eaf4ef;
@purple: #4757b2;
@blue: #0275d8;
@blue-botticelli: #99aab5;
@blue-hawkesBlue: #e7e9f5;
@blue-linkWater: #c2ccd3;
@blue-baliHai: #8798a4;
@blue-heather: #a1afba;
@blue-solitude: #f5f6f9;
@blue-deepSkyBlue: #00aced;
@blue-pattensBlue: #f3f6fa;
@normal-grey: #4f545c;
@grey-mortar: #595959;
@grey-nightRider: #303030;
@grey-darkGrey: #9d9d9d;
@grey-nero: #282828;

// WLS specific colors

@blue-whale: #2b78d6;
@blue-deep: #225ea8;
@blue-light: #b9bff2;
@blue-light-darker: #989fdd;
@white-foam: #f2f3f5;
@grey-rock: #34495e;
@grey-cloud: #7e90a1;
@grey-wire: #d8d8d8;
@grey-empress: rgb(224,220,216);
@green-bright: #33c04e;

/* greys */

@grey-900: #1A202C; 
@grey-800: #2D3748; 
@grey-700: #4A5568; /* grey-rock #34495e */
@grey-600: #718096; /* grey-cloud #7e90a1 */
@grey-500: #A0AEC0;
@grey-400: #CBD5E0; /* grey-wire #d8d8d8 */
@grey-300: #E2E8F0;
@grey-200: #EDF2F7;
@grey-100: #F7FAFC; 

@primary-color: @blue-whale;

@font-family-sans-serif: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-monospace: 'Roboto', monospace;
@font-family-base: @font-family-sans-serif;

@font-family: @font-family-base;

@body-background: @white-ghostWhite;
@component-background: @white;
@font-size-base: 16px;
@font-size-lg: @font-size-base;

// Buttons
@btn-height-base: 30px;
@btn-height-lg: 46px;
@btn-height-sm: 25px;
@primary-button-border: darken(@primary-color, 20%);

// Tooltip
@tooltip-bg: @grey-nero;
@tooltip-arrow-color: @grey-nero;

// Layout
@layout-body-background : transparent;
@layout-header-background : @layout-body-background;
@layout-header-height : 64px;
@layout-header-padding : 0px;
@layout-footer-padding : 24px 50px;
@layout-sider-background : @layout-header-background;
@layout-trigger-height : 48px;
@layout-zero-trigger-width : 36px;
@layout-zero-trigger-height : 42px;

// Comments
@comment-text-left-margin: 12px;
@comment-avatar-size-default: 40px;
@comment-text-offset-default: @comment-avatar-size-default + @comment-text-left-margin;
@comment-avatar-size-small: 32px;
@comment-text-offset-small: @comment-avatar-size-small + @comment-text-left-margin;

@table-border: 1px solid rgba(34, 36, 38, 0.15);

// Share Buttons
@facebook-background-color: #3b5998;
@twitter-background-color: #55acee;
@email-background-color: #777777;

@twitter-link-color: @blue-deepSkyBlue;

@modal-background-color: rgba(242, 242, 242, 0.97);

// z-indexs
@react-modal-z-index: 1400; // used for post image gallery
@ant-message-z-index: @react-modal-z-index + 5;
@ant-layout-header-z-index: 1050;
@ant-popup-z-index: 1060;
@ant-tooltip-z-index: @ant-popup-z-index;
@ant-popover-z-index: @ant-popup-z-index;
@ant-modal-z-index: 1260;
@ant-modal-tooltip-z-index: @ant-modal-z-index + 5;
@ant-modal-popover-z-index: @ant-modal-z-index + 5;
@ant-popover-notifications-z-index: @ant-layout-header-z-index + 5;

@border-color-base: @white-gainsboro;
@base-border: @border-width-base @border-style-base @border-color-base;
@base-shadow: 0 1px 2px 0 rgba(58, 59, 73, 0.18), 0 3px 8px 0 rgba(58, 59, 73, 0.05);

// Content Blocks
@content-margin: 12px;

// Notifications
@notification-read-background-color: @blue-pattensBlue;
@notification-unread-background-color: @white-ghostWhite;

// Post
@post-table-background-color: rgba(128, 128, 128, 0.05);

