@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/mixins.less';

.Write {
  &__bottom {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
  }

  &__left {
    flex: 1;

    &__half {
      margin-right: @content-margin;
    }
  }

  &__right {
    margin-left: @content-margin;
    flex: 1;
  }

  &__markdown {
    background-color: @white;
    .content-block();
    box-shadow: @base-shadow;
    margin-bottom: 10px;
  }
  &__markdown_body {
    padding: 0 16px 16px 16px;
  }
}