@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.UserBox {
  color: @grey-rock;
  margin: 0 0 12px 0;
  display: flex;
  font-size: 0.875rem;
  position: relative;
  flex-direction: column;

  @media @small {
    flex-direction: row;
    background-color: @white;
    box-shadow: @base-shadow;
  }

  &__socialLinks {
    display: flex;
    flex-direction: row-reverse;
    div a {
      margin-left: 8px;
      font-size   : 16px;
    }
  }

  &__main {
    flex: 1 1 auto;

    @media @small {
      padding: 12px 16px 8px 16px;
    }
  }
  &__stats {
    justify-content: center;
    padding: 11px;
    color: @grey-cloud;
    border-top: @base-border;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;

    @media @small {
      flex-direction: column;
      flex: 0 0 110px;
      padding: 0 28px 12px 28px;
      border-top: 0;
      border-left: @base-border;
    }
  }
  &__statbox {
    width: 100%;
    margin: 9px 0 0 0;
    padding: 0 8px;
    white-space: nowrap;
    line-height: 1;

    .value {
      display: block;
      color: @grey-rock;
      font-size: 18px;
      font-weight: 500;
      padding-left: 0.25rem;
    }
    .param {
      display: inline-block;
      color: @grey-cloud;
      font-size: 11px;
      font-weight: 400;
    }
    .param-like {
      display: inline;
      font-size: 11px;
      font-weight: 300;
      text-transform: none;
    }
  }
  &__row {
    display: flex;
    flex-direction: row;
    margin: 8px 0 12px 0;

    &.first {
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      @media @mini {
        flex-direction: row;
      }
      @media @small {
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
      }
    }
    &.last {
      margin: 0 0 0.5rem 0;

      @media @small {
        margin: 0;
      }
    }
  }
  &__edit {
    padding: 10px 0px;
  }
  &__info {
    padding: 6px 0 0 24px;

    h2 {
      font-size: 24px;
      color: @grey-rock;
    }
    a {
      color: @grey-rock;
      font-weight: 300;
    }
  }
  &__joined {
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 2px;
  }
  &__description {
    font-weight: 400;
    margin-top: 0.25rem;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  &_interests {
    padding-top: 2px;
  }
  &__info {
    padding: 8px 0 0 12px;
    font-weight: 300;

    a {
      color: @grey-rock;
    }
  }
  .AvatarLightbox {
    position: relative;

    .svg-inline--fa {
      position: absolute;
      top: 4px;
      right: 0;
      font-size: 36px;
      line-height: 50px;
      width: 50px;
      height: 50px;
      margin: 0;
      padding: 4px;
      background-color: @white;
      border-radius: 25px;
      border: 1px solid @grey-wire;
    }
  }
}

.User {
  &__affix > div {
    width: 100%;
    z-index: 1;
  }

  &__center {
    display: flex;
    width: 100%;
    &__left {
      width: 100%;
      @media @medium {
        width: calc(100% - (@right-width + @margin));
      }
    }
    &__left_full {
      width: 100%;
    }
    &__right {
      margin-left: @margin;
      float: right;
      width: @right-width;
      display: none;

      @media @medium {
        display: block;
      }
    }
  }
}
