@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';
@import (reference) '../styles/mixins.less';

.UserList {
  
  .actions {
    text-align: right;
    
      @media @small {
        text-align: left;
      }
    
    button {
      display: inline-block;
      margin: 0 0.25rem 0.25rem 0;
    }
  }
  
  /* ant design */
  .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 0.5rem 1rem;
  }
  .ant-table-thead > tr > th {
    color: @grey-cloud;
    font-weight: 400;
    font-size: 0.875rem;
  }
  td strong {
    color: @grey-rock;
  }
  
  /* pods */
  &.Pods {
    .member_count,
    .post_count,
    .membership_fee {
      display: none;
      
      @media @small {
        display: table-cell;
      }
    }
  }
}

.main-content.UserList {
  
  @media @small {
    padding: 0;
  }
  @media @medium {
    padding: 0;
  }
  
  .ant-table-thead {
    display: none;

    @media @small {
      display: table-header-group;
    }
  }
}
