@import (reference) '../../styles/custom.less';

.Buttons {
  color: @blue-botticelli;
  font-size: 14px;
  font-weight: 500;

  #icon-tip {
    width: 40px;
    height: 40px;
  }
  
  &__reactions-count {
    cursor: pointer;
    &:hover {
      color: @primary-color;
    }
  }

  &__link {
    color: @blue-botticelli;
    transition: none;

    & > .iconfont {
      margin-right: 4px;
    }

    & > span {
      vertical-align: top;
    }

    &:hover {
      color: @primary-color;
    }

    &:hover > .iconfont,
    &.active > .iconfont {
      color: @primary-color;
    }
  }

  &__number {
    vertical-align: 3px;
    margin-right: 10px;
  }

  &__mood {
    vertical-align: 3px;
    margin-right: 10px;
    margin-left: 10px;

    img {
      width: 24px;
    }
  }

  &__share {
    vertical-align: -1px;
    margin-right: 10px !important;
  }

  &__shared {
    color: @primary-color;
  }

  &__icon-text {
    font-weight: bold;
    margin-left: 4px;
    vertical-align: 2px;

    &-dislike {
      margin-left: 8px;
    }
  }

  &__post-menu {
    cursor: pointer;
  }
}

.ant-popover .ant-popover-content .ant-popover-inner .PopoverMenuItem.flag {
  display: none;
}
