@import (reference) '../../styles/custom.less';

.Confirmation {
  padding: 10px 0 10px 0;
  text-align: center;
  line-height: 14px;

  a {
    color: @blue-botticelli;
    font-size: 14px;
    font-weight: bold;
    user-select: none;

    &:not(:last-child) {
      margin-right: 12px;
    }

    .iconfont {
      transition: color 0.3s ease;
      margin-right: 4px;
      font-size: 24px !important;
      color: @blue-linkWater;
    }

    span {
      vertical-align: top;
    }

    &:hover {
      color: @primary-color;
      .iconfont {
        color: @primary-color;
      }
    }
  }
}
