@import (reference) '../../styles/custom.less';

.Payout {
  position: absolute;
  right: 0;
  color: @blue-botticelli;
  font-size: 14px;
  font-weight: 500;

  & > .iconfont {
    margin-left: 4px;
    vertical-align: -3px;
    font-size: 24px !important;
    color: @blue-linkWater;
  }

  &--rejected {
    text-decoration: line-through;
  }
}

div[data-dir='rtl'] .Payout {
  right: unset;
  left: 0;

  & > .iconfont {
    margin-left: 0px;
    margin-right: 4px;
  }
}
