.StoryFooter {
  &__actions {
    position: relative;
    height: 46px;
    line-height: 46px;
  }

  &__dislike:before {
    display: inline-block;
    transform: rotate(180deg);
  }

  .Confirmation {
    margin-top: 20px;

    a .iconfont {
      font-size: 36px !important;
    }
  }
}
