@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.PodHeader {
  background-color: @blue-whale;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 21px;

  @media @small-max-width {
    display: none;
  }

  &__more {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 36px !important;
    color: @primary-color;

    &:hover {
      cursor: pointer;
      color: darken(@primary-color, 15%);
    }
  }

  &--cover {

    .PodHeader__rank,
    .PodHeader__rank & > i,
    .PodHeader__handle,
    .PodHeader__more,
    .PodHeader__user__username {
      color: #ffffff !important;
      text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    }
  }

  &__handle {
    .PodHeader__follows-you {
      display: none;
    }

    @media @small {
      .PodHeader__follows-you {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  &__follows-you--mobile {
    position: relative;
    top: -30px;
    text-align: center;

    @media @small {
      display: none;
    }
  }

  &__follows-you-cover-text-color {
    color: @white;
  }
}

.PodHeader__container {
  display: flex;
  margin: 0 auto;
  max-width: 1011px;
  padding: 30px 16px;
  align-items: center;
  flex-direction: column;
  height: 210px;
}

.PodHeader__user {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  margin: 0;
}

.PodHeader__row {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.PodHeader__handle {
  position: relative;
  top: -30px;
  color: #99aab5;

  &-rank-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.PodHeader__rank {
  align-self: center;
  margin-top: -62px;
  margin-left: 15px;

  & > i {
    font-size: 18px !important;
    vertical-align: -1px;
    margin-right: 4px;
  }
}

.PodHeader__user__username {
  margin-right: -8px;
  font-weight: 700;
  font-size: 28px;
  color: @grey-rock;

  .ant-tag {
    margin-left: 8px;
    vertical-align: 4px;
    text-shadow: none;
  }
}

.PodHeader__user__button {
  position: relative;
  top: 40px;
  margin: 0 10px;

  &-follows-you {
    top: 50px;
  }
}

@media @small {
  .PodHeader__container {
    padding: 30px 0 30px 16px;
    align-items: initial;
    flex-direction: initial;
  }

  .PodHeader__user {
    padding-bottom: 0;
    margin: 0 20px;

    &__username {
      font-size: 32px;
    }
  }

  .PodHeader__row {
    align-items: initial;
    flex-direction: initial;
  }

  .PodHeader__rank {
    margin-top: -4px;
    margin-left: 0;
  }

  .PodHeader__handle {
    top: -8px;

    &-rank-container {
      display: block;
      flex-direction: initial;
      justify-content: initial;
    }
  }

  .PodHeader__more {
    position: static;
  }

  .PodHeader__user__button {
    top: 12px;
  }
}

@media @large {
  .PodHeader__container {
    padding: 30px 0;
  }
}
