@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.PodRightSidebar {
  width: 100%;
  padding: 0 @margin;
  margin: 0 auto @margin auto;

  @media @small {
    width: 250px;
    padding: 0;
    flex: 0 0 auto;
    margin-left: 16px;
  }

  &:empty {
    display: none;
  }
  .iconfont {
    color: @grey-cloud;
    font-size: 16px;
    margin-right: 6px;
  }
}
