@import (reference) '../../styles/custom.less';

.CommentFooter__wrapper {

  .one span.button::after {
      content : "  \2022  ";
    }
  .one span.button:last-child::after {
    content : "";
  }  
}