@import (reference) '../../styles/custom.less';

.CommentFooter {
  padding: 0 0 8px 0;
  color: @blue-botticelli;
  line-height: 14px;
  
  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__payout {
    font-size: 14px;
    font-weight: 500;
  }

  &__bullet:after {
    content: '\2022';
    font-size: 14px;
    margin: 0 4px;
  }

  &__link {
    color: @blue-botticelli;
    font-weight: 500;
    font-size: 14px;

    .up {
      font-size: 36px;
      position: relative;
      top: 7px;
      margin-right: 4px;
    }
    .flag {
      font-size: 20px;
      margin-left: 48px;
      position: relative;
      top: 12px;
    }

    &:hover,
    &--active {
      color: @primary-color;
      & > .iconfont {
        color: @primary-color;
      }
    }
  }

  &__count {
    color: @blue-botticelli;
    font-weight: 500;
    font-size: 14px;

    &--clickable {
      cursor: pointer;

      &:hover {
        color: @primary-color;
      }
    }
  }
  .Confirmation {
    margin-top: 20px;

    a .iconfont {
      font-size: 36px !important;
    }
  }
  
  #icon-tip {
    width: 40px;
    height: 40px;
    position: relative;
    top: 3px;
  }
}
