@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/mixins.less';

.Interest {
  .btn;
  .btn-primary;
  .btn-ghost;
  
  box-shadow: none;
  text-shadow: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5rem;
  padding: 2px 8px 0;
  color: @grey-rock;
  border: 1px solid @grey-cloud;
  margin-right: 0.1em;
  margin-bottom: 0.2em;
  
  &:hover, &:focus, &:active {
    cursor: pointer;
    color: @white;
    background-color: @grey-rock;
  }
}
