@import (reference) '../../styles/custom.less';
@import (reference) '../../styles/modules/variables.less';

.Story {
  background-color: @white;
  color: @grey-rock;
  box-shadow: @base-shadow;
  @media @small {
    border-radius: 1px;
    border: @base-border;
  }

  &__content {
    position: relative;
  }

  &__reblog {
    margin: 8px 0 -8px 16px;
    font-size: 14px;
    font-weight: 500;
    color: @grey-cloud;

    & > i {
      font-size: 18px;
      margin-right: 4px;
    }

    & > span {
      vertical-align: 2px;
    }
  }

  &:not(:first-child) {
    margin-top: 12px;
  }

  &:last-child {
    margin-bottom: 12px;
  }

  &__more {
    position: absolute;
    right: 16px;
    top: 20px;
    font-size: 20px !important;
    color: #c2ccd3;
    line-height: 12px;

    &:hover {
      cursor: pointer;
      color: darken(#c2ccd3, 15%);
    }
  }

  &__header {
    padding: 12px 16px 4px;
    display: flex;

    &__flex {
      display: flex;
    }

    &__text {
      margin: 0 6px;
      width: 100%;

      @media @small {
        margin-left: 0 12px;
      }

      a > h4 > .ant-tag {
        font-weight: bold;
        margin-left: 6px;
        font-size: 12px;
        vertical-align: 1px;
        padding: 0 4px;

        @media @small {
          padding: 0 8px;
        }
      }
    }
  }

  &__date {
    position: relative;
    top: -6px;
    font-size: 13px;
    color: @grey-cloud;

    a {
      color: orange;
      text-transform: capitalize;
    }

    .audience-public {
      color: @green-bright;
    }

    .audience-friends {
      color: red;
    }
  }

  &__topics {
    margin-left: auto;
  }

  &__topics > button {
    margin: 0 2px;
  }

  &__content {
    word-wrap: break-word;

    &__title {
      color: @primary-color;

      &:hover,
      &:focus,
      &:active {
        color: @primary-color;
        text-decoration: none;
      }
      /*
      &:visited {
        h2 {
          color: #99aab5;
        }
      }
      */
      & > h2 {
        color: @primary-color;
        font-weight: bold;
        font-size: 20px;
        margin: 0 16px 8px;

        .ant-tag {
          vertical-align: 1px;
        }
      }

    }

    &__preview {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.4;
      color: @grey-rock;

      &:hover,
      &:focus,
      &:active,
      &:visited {
        color: @grey-mortar;
        text-decoration: none;
      }

      video {
        width: 100%;
        max-height: 400px;
      }
    }

    &__body {
      padding: 4px 16px;
    }

    & &__img-container {
      width: 100%;

      & > img {
        display: block;
        object-fit: cover;
        width: 100%;
        max-height: 526px;
        margin: 4px auto;
      }
    }
  }

  &__footer {
    padding: 0 16px 8px 16px;
  }

  &__warning__message,
  &__restrictedpostmessage {
    padding: 10px 16px;
  }
}

div[data-dir='rtl'] .Story {
  &__reblog {
    direction: ltr;
  }

  &__topics {
    margin-right: auto;
    margin-left: 0;
  }

  &__content {
    &__title {
      & > h2 {
        .ant-tag {
          margin-right: 0;
          margin-left: 8px;
        }
      }
    }
  }
}

.mentioned {
  width: 0px;
  height: 0px;
  border-top: 30px solid @primary-color;
  border-right: 30px solid transparent;
}