@import (reference) '../../styles/modules/variables.less';
@import (reference) '../../styles/custom.less';

.Editor {
  .ant-form-item {
    margin-bottom: 0px;
    padding-bottom: 24px;
  }

  &__hidden {
    display: none !important;
  }

  & .ant-form-item-label {
    position: relative;
    top: 8px !important;
  }

  & .ant-form-item-required {
    &:before {
      content: '' !important;
    }
  }

  & .ant-checkbox-wrapper > :last-child {
    vertical-align: -3px;
  }

  &__label {
    font-weight: bold;
  }

  &__title {
    height: 52px !important;
    font-size: 24px !important;
    font-weight: bold;
  }

  &__topics {
    & > div {
      padding-top: 5px !important;
      padding-bottom: 8px !important;
      height: auto !important;
      text-transform: lowercase;
    }
  }

  &__meta {
    display: flex;
    flex-direction: column;

    @media @small {
      flex-direction: row;
    }
    .Editor__topics_wrapper {
      @media @small {
        flex: 1 1 33%;
      }
    }
    .Editor__rewards_wrapper {
      @media @small {
        flex: 1 1 33%;
        margin-left: 10px;
      }
    }
    .Editor__post_to_wrapper {
      @media @small {
        flex: 1 1 33%;
        margin-left: 10px;
      }
    }
    .ant-form-extra {
      font-size: 13px;
    }
  }

  &__bottom {
    &__right {
      display: flex;
      justify-content: flex-end;

      &__saving {
        margin-right: 16px;
      }
    }

    &__submit {
      margin-bottom: 0 !important;

      .ant-form-item-control {
        text-align: right !important;
      }
    }

    &__cancel {
      margin-bottom: 0 !important;
      padding-right: 10px;
      margin-right: 10px !important;

      .ant-form-item-control {
        text-align: right !important;
      }

      .Action {
        background-color: @red !important;
      }
    }
  }

  .ant-select-selection__choice {
    font-weight: 500 !important;
    border: 1px solid @blue-whale !important;
    color: @blue-whale !important;
    background-color: @white-foam !important;
    border-radius: @border-radius-base !important;

    & > div {
      position: relative;
      top: -2px;
      font-size: 14px;
    }

    & > span {
      color: @blue-whale !important;
    }
  }
  .ant-form-item-label,
  .ant-form-item-control-wrapper {
    @media @small {
      width: auto;
      min-width: 50%;
    }
  }
}

div[data-dir='rtl'] .Editor {
  .ant-form-item-label {
    text-align: right;
  }

  &__reading_time {
    float: left;
  }
}

.Editor .Body {
  margin-bottom: 8px;
  padding: 12px 16px 16px 16px;
  border: 1px solid rgb(233, 231, 231);
  border-radius: 4px;
  background-color: @white;

  p:empty {
    display: none;
  }

  & > div p:empty + h1,
  & > div p:empty + h2,
  & > div p:empty + h3,
  & > div p:empty + h4,
  & > div p:empty + h5,
  & > div p:empty + h6 {
    margin-top: 0;
  }
}

.ant-form.Editor {
  padding: 0 10px 24px;

  @media @small {
    padding-left: 0;
    padding-right: 0;
  }
}

.moodlist {
  width: 32px;
}
