@import (reference) '../styles/custom.less';
@import (reference) '../styles/modules/variables.less';

.TextPage {
  
  margin-bottom: 24px !important;
  
  @media @medium {
    margin-top: 24px !important;
  }

  .Welcome__banner {
    img {
      width: 100%;
      height: auto;
    }
  }
  &__body {
    padding: 12px;
    background-color: @white;
    color: @grey-rock;
    box-shadow: @base-shadow;
    
    @media @small {
      padding: 16px;
      border-radius: 1px;
      border: @base-border;
    }
  }
  h2, p {
    margin: 4px 0 12px;
  }
  .section {
    display: inline-block;
    padding-right: 16px;
    color: black;
  }
  .alinea {
    padding-bottom: 1em;

    ul {
      list-style: disc inside none;
      padding-top: 0.5em;
    }
  }
}